h1 {
    font-size: 2em;
}

.product-title {
    font-weight: bold;
    font-size: 1.2em;
}

.product-id {
    font-size: .8em;
    margin: 1em 0;
}

.product-edit-icon {
    opacity: .7;
    position: absolute;
    right: 2.3rem;
    top: .4rem;
}

.product-edit-icon:hover {
    opacity: 1;
}



.features {
    padding-bottom: 3em;
}

body {
    visibility: visible !important;
}

.carousel-image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 50px;
    width: 800px;
    height:800px
}

.admin-form{
    padding:50px
}
.admin-button{
    margin:10px;
    padding:10px;
    border-radius: 10px;
}
.product-card{
    background: #ffb821;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    text-align: left;
    overflow: hidden;
}
